<h2 class="mdl-cell mdl-cell--12-col">Next collections for {{name}}</h2>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Colour</th>
        <th class="mdl-data-table__cell--non-numeric">Next Collection</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
    <tr>
        <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{color}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{nextDate}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>